*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    gap:10vw;
    background-color: rgb(253, 246, 237);
}
body h4{
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    bottom: 40px;
}
body h5{
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    bottom: 20px;
}


div{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    gap:2vh;
}
div div{
    background-color:#fff;
    border-radius: 50%;
    height: 40vh;
    width: 40vh;
    transition: 1s;
    
}
div div:hover{
    box-shadow: 0 6px 8px rgba(0,0,0,0.15),
                0 0 0 3px #333,
                0 0 0 8px #fff;
}
div div img{
    width: 25vh;
}


div p{
    font-size: 2rem;
    font-weight: bolder;
    text-decoration: none;
    color: #333;
    transition: 0.5s;
}
.link{
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 40vh;
    border-radius: 50%;
}

@media(max-width:600px){
    body{
        flex-direction: column;
    }
    .link{
        position: absolute;
        background-color: transparent;
        width: 100%;
        height: 22vh;
        border-radius: 50%;
    }
    div div{
        height: 22vh;
        width: 22vh;
    }
    div div img{
        width: 15vh;
    }
}